<div class="container">

  <h1>Opciones</h1>

  <p-messages [(value)]="messages"></p-messages>

  <h3>Editar</h3>

  <form *ngIf="project" (ngSubmit)="onSubmit()" #projectForm="ngForm">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" pInputText class="form-control" id="name"
        required
        [maxlength]="25"
        [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Campo obligatorio
      </div>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <input type="text" pInputText class="form-control" id="description"
        [maxLength]="75"
        [(ngModel)]="model.description" name="description">
    </div>
    <button type="submit" class="btn btn-success"
      [disabled]="!projectForm.form.valid || projectForm.form.pristine">Editar proyecto</button>

  </form>

  <div>

    <h3>Borrar</h3>

    <p>En caso de que el proyecto tenga tickets cargados no podrá eliminarse.</p>

    <p-confirmDialog header="Confirmar"></p-confirmDialog>
    <p-button (click)="deleteProject()" [disabled]="projectHasTickets" label="Borrar proyecto"></p-button>
  </div>
</div>

  
