$navbar-primary-color: #3498db;
$navbar-hover-color: #146da9;
$navbar-background-color: #ecf0f1;
$navbar-height: 60px;

.navbar {
  display: flex;
  // align-items: center;
  background-color: $navbar-primary-color;
  padding: 0px;
  margin: 0 0px;
  height: $navbar-height;
  color: #fff;
  border-radius: 0px;
  border: 0px;

  &-logo {
    display: flex;
    align-items: center;
    max-height: 100%;
    img {
      max-height: 100%;
      width: 100%;
      margin: 0px 20px;
    }

    h2 {
      margin: 0px 20px 0px 0px;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
  }

  &-links {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;

    li {
      margin: 0px;
      font-size: 17px;
      width: 100%;
      height: 100%;
      border-width: 0px;
      &:hover {
        background-color: $navbar-hover-color;
      }
      
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-user {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    p {
      font-size: medium;
      margin: 0px 10px;
    }
  }

}

