<nav class="navbar">
  <div class="navbar-logo">
    <img src="assets/quickesticket-logo2.png" alt="QuickesTicket Logo">
    <h2>{{title}}</h2>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/my-page">Mi página</a></li>
    <li><a routerLink="/projects">Mis proyectos</a></li>
    <li *ngIf="userIsAdmin"><a routerLink="/management/users">Administración</a></li>
  </ul>

  <div class="navbar-user">
    <p>{{username}} </p>
    <p-button icon="pi pi-sign-out" severity="secondary" (click)="logOut()"/>
  </div>
</nav>