<div class="container">
  <div>

    <h3>{{ ticket?.id }} - {{ ticket?.title }}</h3>
    
    <h1>Tiempo dedicado</h1>

    <form (ngSubmit)="onSubmit()" #hoursForm="ngForm">
      <div class="form-group">
        <label for="date">Fecha</label>
        <p-calendar class="form-control primeng-form-control"
          [(ngModel)]="model.date" [showButtonBar]="true" [required]="true" (ngModelChange)="validateDate()"
          dateFormat="dd/mm/yy" name="date" #date="ngModel"></p-calendar>
        <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
          Campo obligatorio
        </div>
        <div [hidden]="this.dateValidation" class="alert alert-danger">
          {{ dateValidationMessage }}
        </div>
      </div>

      <div class="form-group">
        <label for="hours">Horas</label>
        <p-inputNumber class="form-control primeng-form-control" id="hours" name="hours" #hours="ngModel" [required]="true"
          [(ngModel)]="model.amount" mode="decimal" inputId="hours" locale="de-DE"
          [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
        <div [hidden]="hours.valid || hours.pristine" class="alert alert-danger primeng-alert">
          Campo obligatorio
        </div>
      </div>

      <div class="form-group">
        <label for="client_hours">Horas Cliente</label>
        <p-inputNumber class="form-control primeng-form-control" id="client_hours" name="client_hours"
          [(ngModel)]="model.client_time_amount" mode="decimal" inputId="client_hours" locale="de-DE" [minFractionDigits]="2"
          [maxFractionDigits]="2"></p-inputNumber>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" pInputText class="form-control" id="description" 
        [maxLength]="75"  
        [(ngModel)]="model.description" name="description">
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn btn-success" [disabled]="!hoursForm.form.valid || !dateValidation || hoursForm.pristine">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
      </div>

    </form>

  </div>
</div>