<div class="container">

  
  <h4 class="void-message" *ngIf="tickets.length === 0">{{project?.name}} aún no tiene tickets!</h4>
  
  <div class="left">
    <div class="tickets-list" *ngIf="tickets">
    
      <div *ngIf="tickets.length && tickets.length > 0">
        <table class="table">
          
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Estado</th>
            <th>Responsable</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let ticket of  filteredTickets">
            <td>{{ ticket.id }}</td>
            <td>
              <a href="/tickets/{{ticket.id}}">{{ ticket.title }}</a>
            </td>
            <td>{{ ticket.state.description }}</td>
            <td>{{ ticket.responsible?.username }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

  <div class="right"*ngIf="tickets.length > 0">
    <h3 class="filter-header">Filtros</h3>
    <div class="check-container">
        <p-checkbox class="checkbox" *ngFor="let ticket of ticketStates"
          [label]="ticket.description" name="group" [value]="ticket.id" (click)="filterTickets()"
          [(ngModel)]="selectedTicketStates"></p-checkbox>
    </div>
  </div>
</div>




  