<div class="container">
  <!-- <div [hidden]="submitted"> -->
  <div>
    <h1>Nuevo proyecto</h1>
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">

      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="model.name" name="name"
          #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Campo obligatorio
        </div>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description"
          [(ngModel)]="model.description" name="description">
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn btn-success"
          [disabled]="!projectForm.form.valid">Crear proyecto</button>
        <button type="button" class="btn btn-danger"
          (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div> 