<div class="container">
  <div>
    <h1>Nuevo ticket de {{ project?.name }}</h1>

    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #title="ngModel">
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
          Campo obligatorio
        </div>
      </div>


      <!-- TODO: REEMPLAZAR INPUT POR CALENDARIO -->
      <div class="form-group">
        <label for="beggining_date">Fecha de inicio</label>
        <!-- <p-calendar [(ngModel)]="model.beginning_date" dateFormat="dd/mm/yy"></p-calendar> -->
        <input type="text" class="form-control" id="beggining_date" required [(ngModel)]="model.beginning_date"
          name="beggining_date" #beggining_date="ngModel">
        <div [hidden]="beggining_date.valid || beggining_date.pristine" class="alert alert-danger">
          Campo obligatorio
        </div>
      </div>

      <!-- TODO: REEMPLAZAR INPUT POR CALENDARIO -->
      <div class="form-group">
        <label for="end_date">Fecha de fin</label>
        <input type="text" class="form-control" id="end_date" [(ngModel)]="model.end_date" name="end_date">
      </div>

      <div class="form-group">
        <label for="state">Estado</label>
        <p-dropdown [options]="ticketStates" [(ngModel)]="selectedTicketSate" optionLabel="description" [showClear]="false"
          placeholder=""></p-dropdown>
        <p> {{selectedTicketSate}}</p>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!projectForm.form.valid">Crear ticket</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
    </form>
  </div>
</div>