<div class="container">
  <div class="left">

    <div class="list-header">
      <h2>Usuarios</h2>
    </div>

    <div class="user-list">
      <table class="table" class="table">

        <thead>
          <tr>
            <th>Nombre</th>
            <th class="number">Horas trabajadas [{{ dateToPrint | date: 'MM/yyyy':'UTC' }}]</th>
            <th class="number">Editar</th>
            <th class="number">Eliminar</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td class="number">{{user.total_time}} </td>
            <td class="number">
              <p-button icon="pi pi-pencil" (click)="updateUser(user.id)"></p-button>
            </td>
            <td class="number">
              <p-button icon="pi pi-trash" (click)="deleteUser(user.id)"></p-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>                        
  </div>

  <div class="right">
    <h3 class="picker-header">Selector de mes</h3>
    <p>Elige el mes para el que deseas visualizar las horas trabajadas.</p>
    
    <form class="form" (ngSubmit)="onSubmit()" #dateForm="ngForm">
      <div class="form-group">
        <p-calendar [(ngModel)]="date" view="month" dateFormat="mm/yy"
          class="form-control primeng-form-control" id="date" name="date" (ngModelChange)="onDateChange()"></p-calendar>
      </div>

      <div class="form-buttons">
        <p-button type="submit" class="picker-button" [disabled]="dateForm.form.pristine || !this.formIsValid" icon="pi pi-check"></p-button>
      </div>
    </form>

  </div>
</div>
