.container {
  height: 100%;
}

.new-user {
  max-width: 300px;
  width: 100%;
}

.logo {
  height: 130px;
  margin-bottom: 10px;
}

.form-buttons {
  margin-top: 10px;
}

.btn-full-width {
  flex-grow: 1;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-right: 10px;
  margin-bottom: 0px;
}