<nav class="navbar">
  <div>
    <h2>{{project?.name | uppercase}}</h2>
  </div>
  <ul class="navbar-links">
    <li><button (click)="section='tickets'">Tickets</button></li>
    <li><button (click)="section='new-ticket'">Nuevo ticket</button></li>
    <li><button (click)="section='wiki'">Wiki</button></li>
    <li><button (click)="section='settings'">Opciones</button></li>
  </ul>
</nav>

<app-project-tickets *ngIf="section === 'tickets'" [project]="project"></app-project-tickets>
<app-edit-project-form *ngIf="section === 'settings'" [project]="project"></app-edit-project-form>
<!-- <app-edit-project-form></app-edit-project-form> -->