// @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import "primeng/resources/themes/lara-light-blue/theme.css";
// getbootstrap.com/docs/3.4/css/

$primary-color: #3498db;
$background-color: #34393a;
$text-color: #ffffff;

$body-font-family: 'Arial', sans-serif;
$heading-font-family: 'Helvetica', sans-serif;

body {
  font-family: $body-font-family;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

.app {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
