.container {
  padding-bottom: 0px;
}

.ticket-name {
  margin: 0px;
}

.ticket-menu {
  // border-style: solid;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;
}

.ticket-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.info-pairs {
  // border-style: solid;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 250px;
}

.ticket-info {
  display: flex;
}

.left {
  margin-right: 50px;
}
